# <center> Proyecto 1 </center>
## <center> *Josue Valenzuela 171001 y Marcos Gutierrez 17909* </center>

In [2]:
%load_ext sql

In [8]:
%sql sqlite:///ontime-2017-2018.db

'Connected: @ontime-2017-2018.db'

## ¿Qué aerolíneas ejecutan más vuelos?

In [4]:
%%sql SELECT count(*) as value, Description
    FROM ontime
    INNER JOIN airline_id
    ON airline_id.code = ontime.DOT_ID_Reporting_Airline
    GROUP BY DOT_ID_Reporting_Airline
    ORDER BY value DESC

 * sqlite:///ontime-2017-2018.db
Done.

[(2588372, 'Southwest Airlines Co.: WN'),
 (1811590, 'Delta Air Lines Inc.: DL'),
 (1748036, 'American Airlines Inc.: AA'),
 (1427134, 'SkyWest Airlines Inc.: OO'),
 (1163009, 'United Air Lines Inc.: UA'),
 (581778, 'JetBlue Airways: B6'),
 (533340, 'ExpressJet Airlines Inc.: EV'),
 (412033, 'Alaska Airlines Inc.: AS'),
 (319422, 'Spirit Air Lines: NK'),
 (290451, 'Republic Airline: YX'),
 (270405, 'Envoy Air: MQ'),
 (255396, 'PSA Airlines Inc.: OH'),
 (225227, 'Endeavor Air Inc.: 9E'),
 (214181, 'Frontier Airlines Inc.: F9'),
 (196562, 'Mesa Airlines Inc.: YV'),
 (157488, 'Hawaiian Airlines Inc.: HA'),
 (89328, 'Virgin America: VX'),
 (88549, 'Allegiant Air: G4')]

## ¿Cuales aerolíneas viajan más entre semana?

In [21]:
%%sql SELECT count(*) as value, Description
    FROM ontime
    INNER JOIN airline_id
    ON airline_id.code = ontime.DOT_ID_Reporting_Airline
    WHERE DayOfWeek < 6
    GROUP BY DOT_ID_Reporting_Airline
    ORDER BY value DESC

 * sqlite:///ontime-2017-2018.db
Done.

[(1916892, 'Southwest Airlines Co.: WN'),
 (1356247, 'Delta Air Lines Inc.: DL'),
 (1280865, 'American Airlines Inc.: AA'),
 (1060949, 'SkyWest Airlines Inc.: OO'),
 (862292, 'United Air Lines Inc.: UA'),
 (423126, 'JetBlue Airways: B6'),
 (399360, 'ExpressJet Airlines Inc.: EV'),
 (299301, 'Alaska Airlines Inc.: AS'),
 (227031, 'Spirit Air Lines: NK'),
 (218043, 'Republic Airline: YX'),
 (202068, 'Envoy Air: MQ'),
 (188004, 'PSA Airlines Inc.: OH'),
 (174158, 'Endeavor Air Inc.: 9E'),
 (153280, 'Frontier Airlines Inc.: F9'),
 (143712, 'Mesa Airlines Inc.: YV'),
 (112387, 'Hawaiian Airlines Inc.: HA'),
 (66171, 'Virgin America: VX'),
 (63056, 'Allegiant Air: G4')]

## ¿Cuales aerolíneas viajan más fines de semana?

In [82]:
%%sql SELECT count(*) as value, Description
    FROM ontime
    INNER JOIN airline_id
    ON airline_id.code = ontime.DOT_ID_Reporting_Airline
    WHERE DayOfWeek > 5
    GROUP BY DOT_ID_Reporting_Airline
    ORDER BY value DESC

 * sqlite:///ontime-2017-2018.db
Done.

[(671480, 'Southwest Airlines Co.: WN'),
 (467171, 'American Airlines Inc.: AA'),
 (455343, 'Delta Air Lines Inc.: DL'),
 (366185, 'SkyWest Airlines Inc.: OO'),
 (300717, 'United Air Lines Inc.: UA'),
 (158652, 'JetBlue Airways: B6'),
 (133980, 'ExpressJet Airlines Inc.: EV'),
 (112732, 'Alaska Airlines Inc.: AS'),
 (92391, 'Spirit Air Lines: NK'),
 (72408, 'Republic Airline: YX'),
 (68337, 'Envoy Air: MQ'),
 (67392, 'PSA Airlines Inc.: OH'),
 (60901, 'Frontier Airlines Inc.: F9'),
 (52850, 'Mesa Airlines Inc.: YV'),
 (51069, 'Endeavor Air Inc.: 9E'),
 (45101, 'Hawaiian Airlines Inc.: HA'),
 (25493, 'Allegiant Air: G4'),
 (23157, 'Virgin America: VX')]

## ¿Cual de las aerolíneas han tenido mayor proporcion de cancelación?

In [94]:
%%sql SELECT count(*)
as value, Description
FROM ontime
INNER JOIN airline_id
ON airline_id.code = ontime.DOT_ID_Reporting_Airline
WHERE cancelled = 1.0
GROUP BY DOT_ID_Reporting_Airline
ORDER BY value DESC

 * sqlite:///ontime-2017-2018.db
Done.

[(36200, 'Southwest Airlines Co.: WN'),
 (26131, 'American Airlines Inc.: AA'),
 (20215, 'SkyWest Airlines Inc.: OO'),
 (15633, 'ExpressJet Airlines Inc.: EV'),
 (14687, 'JetBlue Airways: B6'),
 (12517, 'Delta Air Lines Inc.: DL'),
 (11080, 'United Air Lines Inc.: UA'),
 (10851, 'PSA Airlines Inc.: OH'),
 (10083, 'Envoy Air: MQ'),
 (9857, 'Republic Airline: YX'),
 (6948, 'Spirit Air Lines: NK'),
 (6239, 'Endeavor Air Inc.: 9E'),
 (5098, 'Mesa Airlines Inc.: YV'),
 (3316, 'Alaska Airlines Inc.: AS'),
 (3264, 'Frontier Airlines Inc.: F9'),
 (1430, 'Virgin America: VX'),
 (707, 'Allegiant Air: G4'),
 (484, 'Hawaiian Airlines Inc.: HA')]

## ¿Qué aerolínea es menos frecuente en retrasos de salida?

In [85]:
%%sql SELECT count(*) * 100 / (SELECT count(*) FROM ontime GROUP BY DOT_ID_Reporting_Airline)
as value, Description
FROM ontime
INNER JOIN airline_id
ON airline_id.code = ontime.DOT_ID_Reporting_Airline
WHERE depdelay > 0
GROUP BY DOT_ID_Reporting_Airline
ORDER BY value ASC

 * sqlite:///ontime-2017-2018.db
Done.

[(1, 'Hawaiian Airlines Inc.: HA'),
 (1, 'Allegiant Air: G4'),
 (1, 'Virgin America: VX'),
 (2, 'Endeavor Air Inc.: 9E'),
 (2, 'Mesa Airlines Inc.: YV'),
 (3, 'PSA Airlines Inc.: OH'),
 (3, 'Envoy Air: MQ'),
 (3, 'Spirit Air Lines: NK'),
 (3, 'Frontier Airlines Inc.: F9'),
 (3, 'Republic Airline: YX'),
 (4, 'Alaska Airlines Inc.: AS'),
 (6, 'ExpressJet Airlines Inc.: EV'),
 (9, 'JetBlue Airways: B6'),
 (14, 'United Air Lines Inc.: UA'),
 (15, 'SkyWest Airlines Inc.: OO'),
 (21, 'Delta Air Lines Inc.: DL'),
 (23, 'American Airlines Inc.: AA'),
 (49, 'Southwest Airlines Co.: WN')]

## ¿Que aerolínea llega puntual a su destino mas frecuentemente?

In [47]:
%%sql SELECT count(*) * 100 / (SELECT count(*) FROM ontime GROUP BY DOT_ID_Reporting_Airline)
as value, Description
FROM ontime
INNER JOIN airline_id
ON airline_id.code = ontime.DOT_ID_Reporting_Airline
WHERE arrdelay <= 0
GROUP BY DOT_ID_Reporting_Airline
ORDER BY value DESC

 * sqlite:///ontime-2017-2018.db
Done.

[(59, 'Southwest Airlines Co.: WN'),
 (50, 'Delta Air Lines Inc.: DL'),
 (41, 'American Airlines Inc.: AA'),
 (35, 'SkyWest Airlines Inc.: OO'),
 (30, 'United Air Lines Inc.: UA'),
 (13, 'ExpressJet Airlines Inc.: EV'),
 (12, 'JetBlue Airways: B6'),
 (10, 'Alaska Airlines Inc.: AS'),
 (8, 'Spirit Air Lines: NK'),
 (7, 'Republic Airline: YX'),
 (6, 'Envoy Air: MQ'),
 (5, 'Endeavor Air Inc.: 9E'),
 (5, 'PSA Airlines Inc.: OH'),
 (4, 'Mesa Airlines Inc.: YV'),
 (4, 'Frontier Airlines Inc.: F9'),
 (3, 'Hawaiian Airlines Inc.: HA'),
 (2, 'Allegiant Air: G4'),
 (1, 'Virgin America: VX')]

## ¿Cuál aerolínea presentan más tiempo de retraso al despegue promedio?

In [51]:
%%sql SELECT AVG(depdelay)
as value, Description
FROM ontime
INNER JOIN airline_id
ON airline_id.code = ontime.DOT_ID_Reporting_Airline
GROUP BY DOT_ID_Reporting_Airline
ORDER BY value ASC

 * sqlite:///ontime-2017-2018.db
Done.

[(0.9752743066138373, 'Hawaiian Airlines Inc.: HA'),
 (2.3642329619229527, 'Alaska Airlines Inc.: AS'),
 (7.278002141497189, 'Republic Airline: YX'),
 (7.525744716258945, 'Envoy Air: MQ'),
 (8.167791277275763, 'Delta Air Lines Inc.: DL'),
 (9.179338411794722, 'American Airlines Inc.: AA'),
 (9.742474047922244, 'United Air Lines Inc.: UA'),
 (10.042669433984475, 'SkyWest Airlines Inc.: OO'),
 (10.187789194232082, 'Spirit Air Lines: NK'),
 (10.298507727759105, 'Endeavor Air Inc.: 9E'),
 (10.56208072100919, 'Southwest Airlines Co.: WN'),
 (10.759592393239792, 'Mesa Airlines Inc.: YV'),
 (11.73745074332796, 'Virgin America: VX'),
 (11.870170245422795, 'PSA Airlines Inc.: OH'),
 (12.459097386282671, 'ExpressJet Airlines Inc.: EV'),
 (13.174219923432224, 'Allegiant Air: G4'),
 (16.0233886465284, 'JetBlue Airways: B6'),
 (16.0925245469953, 'Frontier Airlines Inc.: F9')]

## ¿Cuál aerolínea presentan más tiempo de retraso promedio para llegar a su destino?

In [93]:
%%sql SELECT AVG(arrdelay)
as value, Description
FROM ontime
INNER JOIN airline_id
ON airline_id.code = ontime.DOT_ID_Reporting_Airline
GROUP BY DOT_ID_Reporting_Airline
ORDER BY value ASC

 * sqlite:///ontime-2017-2018.db
Done.

[(0.08622853023908279, 'Alaska Airlines Inc.: AS'),
 (0.20905944501791243, 'Delta Air Lines Inc.: DL'),
 (1.1979325408920045, 'Hawaiian Airlines Inc.: HA'),
 (3.164816096346716, 'Republic Airline: YX'),
 (3.7723130259525077, 'United Air Lines Inc.: UA'),
 (4.611915978102092, 'Endeavor Air Inc.: 9E'),
 (4.769178094730314, 'American Airlines Inc.: AA'),
 (4.8288337225097475, 'Southwest Airlines Co.: WN'),
 (5.198894251215769, 'Envoy Air: MQ'),
 (5.716888630088096, 'Spirit Air Lines: NK'),
 (7.048937941356593, 'SkyWest Airlines Inc.: OO'),
 (8.305114410562421, 'PSA Airlines Inc.: OH'),
 (8.374455319308508, 'ExpressJet Airlines Inc.: EV'),
 (8.383232771339323, 'Mesa Airlines Inc.: YV'),
 (9.18475729894322, 'Virgin America: VX'),
 (10.245141108312911, 'Allegiant Air: G4'),
 (10.334352720362684, 'Frontier Airlines Inc.: F9'),
 (11.06766326674436, 'JetBlue Airways: B6')]

## ¿Cuál es la causa principal de atrasos para los vuelos entre las aerolíneas?

In [69]:
%%sql SELECT airline_id.Description AS Aerolinia, cancellation.Description AS CausaCancelacion
FROM ontime
INNER JOIN airline_id
ON airline_id.code = ontime.DOT_ID_Reporting_Airline
INNER JOIN cancellation
ON cancellation.code = ontime.CancellationCode
WHERE CancellationCode != ""
GROUP BY DOT_ID_Reporting_Airline

 * sqlite:///ontime-2017-2018.db
Done.

[('Southwest Airlines Co.: WN', 'Carrier'),
 ('Hawaiian Airlines Inc.: HA', 'Carrier'),
 ('Delta Air Lines Inc.: DL', 'Weather'),
 ('American Airlines Inc.: AA', 'Weather'),
 ('Alaska Airlines Inc.: AS', 'Carrier'),
 ('United Air Lines Inc.: UA', 'Weather'),
 ('SkyWest Airlines Inc.: OO', 'Weather'),
 ('Endeavor Air Inc.: 9E', 'Weather'),
 ('ExpressJet Airlines Inc.: EV', 'Weather'),
 ('Allegiant Air: G4', 'Weather'),
 ('Mesa Airlines Inc.: YV', 'Weather'),
 ('PSA Airlines Inc.: OH', 'Weather'),
 ('Envoy Air: MQ', 'National Air System'),
 ('JetBlue Airways: B6', 'Weather'),
 ('Spirit Air Lines: NK', 'Weather'),
 ('Frontier Airlines Inc.: F9', 'Weather'),
 ('Republic Airline: YX', 'Carrier'),
 ('Virgin America: VX', 'National Air System')]

## ¿Que aerolinia pasa mas tiempo en vuelo en promedio?

In [81]:
%%sql SELECT avg(AirTime) as TiempoEnAire, Description
FROM ontime
INNER JOIN airline_id
ON airline_id.code = ontime.DOT_ID_Reporting_Airline
GROUP BY DOT_ID_Reporting_Airline
ORDER BY TiempoEnAire ASC

 * sqlite:///ontime-2017-2018.db
Done.

[(61.427821892277095, 'PSA Airlines Inc.: OH'),
 (66.58141676374328, 'Envoy Air: MQ'),
 (70.99718566017924, 'ExpressJet Airlines Inc.: EV'),
 (72.00221554254152, 'Endeavor Air Inc.: 9E'),
 (72.40930494263328, 'SkyWest Airlines Inc.: OO'),
 (79.91574159807084, 'Mesa Airlines Inc.: YV'),
 (86.08269201462969, 'Hawaiian Airlines Inc.: HA'),
 (87.34824462646023, 'Republic Airline: YX'),
 (102.06302108043202, 'Southwest Airlines Co.: WN'),
 (116.83518729742855, 'Allegiant Air: G4'),
 (118.3204891835349, 'Delta Air Lines Inc.: DL'),
 (132.9957203949634, 'Spirit Air Lines: NK'),
 (135.60503216180902, 'American Airlines Inc.: AA'),
 (138.33465153304914, 'Frontier Airlines Inc.: F9'),
 (139.3413982653177, 'JetBlue Airways: B6'),
 (152.8369049594629, 'United Air Lines Inc.: UA'),
 (165.93916263988564, 'Alaska Airlines Inc.: AS'),
 (187.26410531972058, 'Virgin America: VX')]

## ¿Qué aerolínea cubre mayor cantidad de destinos?

In [80]:
%%sql SELECT count(DISTINCT dest) as NumeroDestinos, Description
FROM ontime
INNER JOIN airline_id
ON airline_id.code = ontime.DOT_ID_Reporting_Airline
GROUP BY DOT_ID_Reporting_Airline
ORDER BY NumeroDestinos DESC

 * sqlite:///ontime-2017-2018.db
Done.

[(269, 'SkyWest Airlines Inc.: OO'),
 (176, 'ExpressJet Airlines Inc.: EV'),
 (158, 'Delta Air Lines Inc.: DL'),
 (157, 'Envoy Air: MQ'),
 (136, 'Endeavor Air Inc.: 9E'),
 (125, 'Allegiant Air: G4'),
 (121, 'Mesa Airlines Inc.: YV'),
 (117, 'United Air Lines Inc.: UA'),
 (111, 'American Airlines Inc.: AA'),
 (105, 'Republic Airline: YX'),
 (101, 'PSA Airlines Inc.: OH'),
 (97, 'Frontier Airlines Inc.: F9'),
 (88, 'Southwest Airlines Co.: WN'),
 (75, 'Alaska Airlines Inc.: AS'),
 (70, 'JetBlue Airways: B6'),
 (43, 'Spirit Air Lines: NK'),
 (29, 'Virgin America: VX'),
 (18, 'Hawaiian Airlines Inc.: HA')]